@charset "UTF-8";


body {
    font: 400 16.5px/1.65 "Lora","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 8px;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}


header {
        display: block
}


nav {
    display: block;
}


a {
    color: #e0491f;
    text-decoration: none;
}


.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}


.site-header {
    background: #111;
    opacity: 0.8;
    min-height: 55.95px;
    position: relative;
}


.site-title {
    font-size: 26.8125px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #ffffff;
    line-height: 61.25625px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}


.site-nav {
    float: right;
    text-align: right;
    line-height: 61.25625px;
    padding-right: 10px;
}

.site-nav .page-link {
    color: #ffffff;
    line-height: 1.65;
    font-family: 'Open Sans';
    font-weight: 400;
}